<!-- Add SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- Add SweetAlert2 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href="~/css/blogs.css" rel="stylesheet" />

<div class="container">
    <main role="main" class="pb-3">
        <h1 class="BlogPost-header">Add Portfolio</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="Portfolio_Image" class="form-label">Portfolio Image</label>
                <input type="file" class="form-control" id="Portfolio_Image" name="Portfolio_Image" required autofocus>
            </div>
            <div class="mb-3">
                <label for="Portfolio_Title" class="form-label">Portfolio Title</label>
                <input type="text" class="form-control" id="Portfolio_Title" name="Portfolio_Title" required>
            </div>
            <div class="mb-3">
                <label for="Short_Description" class="form-label">Portfolio Description</label>
                <textarea class="form-control" id="Short_Description" name="Short_Description" rows="2"></textarea>
            </div>
            <div class="mb-3">
                <label for="PublishedDate" class="form-label">Published Date</label>
                <input type="date" class="form-control" id="PublishedDate" name="PublishedDate">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="Visiable" name="Visiable" checked>
                <label class="form-check-label" for="Visiable">Visible</label>
            </div>
            <div class="mb-3">
                <label for="portfolioAuthor" class="form-label">Author</label>
                <input type="text" class="form-control" id="portfolioAuthor" name="Author" value="@Model.FirstName" disabled>
                <input type="hidden" id="Authorid" value="@Model.Id">
            </div>
            <div class="container d-flex justify-content-center">
                <button type="submit" class="btn me-5 blog-dark" onclick="Saveportfolio(event)">Submit</button>
            </div>
        </form>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function Saveportfolio(event) {
        event.preventDefault();  // Prevent the default form submission
        var imagespath = $("#Portfolio_Image")[0].files;
        var Portfolio_Title = document.getElementById("Portfolio_Title").value;
        var Short_Description = document.getElementById("Short_Description").value;
        var PublishedDate = document.getElementById("PublishedDate").value;
        var Userid = document.getElementById("Authorid").value;
        var Visiable = document.getElementById("Visiable").checked ? 1 : 0;

        var formData = new FormData();
        formData.append("Portfolio_Title", Portfolio_Title);
        formData.append("Short_Description", Short_Description);
        formData.append("PublishedDate", PublishedDate);
        formData.append("Visiable", Visiable);
        formData.append("CreatedBy", Userid);
        for (var i = 0; i < imagespath.length; i++) {
            formData.append("Portfolio_Image", imagespath[i]);
        }

        $.ajax({
            url: '/Portfolio/AddPortfolio',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.code == '200') {
                    Swal.fire({
                        title: 'Success!',
                        text: 'Portfolio has been added successfully.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/Dashbord/Index';
                        }
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error('There was a problem with the request:', error);
            }
        });
    }
</script>