@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Admin</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="login_form">
        <!-- Login form container -->
        <form action="#">
            <h3>Log in with</h3>

            <div class="login_option">
                <!-- Google button -->
                <div class="option">
                    <a href="#">
                        <img src="~/img/google.png" alt="Google" />
                        <span>Google</span>
                    </a>
                </div>
            </div>

            <!-- Login option separator -->
            <p class="separator">
                <span>or</span>
            </p>

            <!-- Email input box with autofocus -->
            <div class="input_box">
                <label for="email">Email*</label>
                <input type="email" id="email" placeholder="Enter email address" required autofocus />
            </div>

            <!-- Password input box -->
            <div class="input_box">
                <div class="password_title">
                    <label for="password">Password*</label>
                    <a href="@Url.Action("ForgetPassword","Home")">Forgot Password?</a>
                </div>

                <input type="password" id="password" placeholder="Enter your password" required />
            </div>

            <!-- Login button -->
            <button type="submit" onclick="Login()">Log In</button>

            <p class="sign_up">Don't have an account? <a href="@Url.Action("Signup","Home")">Sign up</a></p>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function Login() {
            var email = $('#email').val();
            var password = $('#password').val();

            $.ajax({
                type: "GET",
                url: '/Home/AdminLogin',
                data: { Email: email, Password: password },
                success: function (response) {
                    if (response.code == "200") {
                        window.location.href = '@Url.Action("Index", "Dashbord")';
                    } else {
                       
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    </script>
</body>
</html>
